# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.HyperCasual1.iml
# Datasource local storage ignored files
/../../../../../../:\Side Projects\HyperCasual1\.idea\.idea.HyperCasual1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
